<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="main.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
	<title>Happy Birthday Wooa nim!</title>
</head>

<body>

	<div class="wooa-div">
		<div class="hb__box">
			<p class="hb__box__p">
				<span class="box__span">동기 우아님! 생일 추카드리옵니다.<br>♡＼(´▽ `)ノ♡</span><br><br>
				저희 어느새 알고 지낸지도 5개월이 넘어가네요ㅎㅎ<br>
				우아님은 옆에서 보고 있으면 정말 배울점이 많은 분이여요 (♡’ v ‘♡)<br>
				말씀도 넘넘 재밌게 잘해서 마니마니 대화 나누고싶은 분이구욥...
				<br><br>
				저는 그냥 우아님에게 한 점의 인간에 불과하겠지만.,,<br>
				제가 퇴사하고도 인연을 이어가고 싶읍니다...<br>
				가끔 같이 놀아욧! 불러줘욧!<br>
				오늘 맛있는거 많이 드시고 행복하게 보내시길..!<br><br><br>
				-소윤 드림-
				<br><br>
				PS: 이 사이트 만드는데 3시간 넘게 걸렸어요..! :P
			</p>
			<br>
			<p class="close">닫기</p>
		</div>
		<h1 class="wooa__h1">🤩WOOA!<br>Happy Birthday!🤩</h1>
		<p class="wooa_p">click!</p>
	</div>
	<iframe id="ytplayer" type="text/html" width="560" height="300"
		src="https://www.youtube.com/embed/fTbEpGZyseA?autoplay=1&mute=1" frameborder="0" allow="autoplay"></iframe>

	<script src="main.js"></script>
</body>

</html>